{% extends "base.html" %}
{% load material_form %}

{% block title %}Alterar sua senha{% endblock %}

{% block content %}
    <h1>Resete sua senha</h1>
    {% if validlink %}
        <p>Por favor insira uma nova senha duas vezes:</p>
        <form action="." method="post">
            {% form form=form %}{% endform %}
            {% csrf_token %}
            <p><input class="btn green" type="submit" value="Mudar minha senha" /></p>
        </form>
    {% else %}
        <p>A senha escolhida é inválida, possivelmente porque ela já está sendo usada. Por favor escolha outra senha.</p>
    {% endif %}
{% endblock %}
