{% extends "blog/base.html" %}
{% load blog_tags %}
{% load material_form %}

{% block title %}Blog Vida de Mestrando{% endblock %}

{% block content %}
    <h2>Bem vindo ao BVM</h2>
    {% if tag %}
        <h5>Posts usados a tag "{{ tag.name }}"</h5>
    {% endif %}
    {% for post in posts %}
        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">Publicado {{ post.publish }} por {{ post.author }}</p>
        {{ post.body|markdown|truncatewords_html:30 }}
    {% endfor %}
    <a href="/blog/new" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>

    {% include "pagination.html" with page=posts %}
{% endblock %}
