{% extends "blog/base.html" %}
{% load material_form %}

{% block title %}Compartilhe um post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail enviado com sucesso</h1>
        <p>"{{ post.title }}" foi enviado com sucesso por e-mail.</p>
    {% else %}
        <h1>Compartilhe "{{ post.title }}" por e-mail</h1>
        <form action="." method="post">
            {% form form=form %}{% endform %}
            {% csrf_token %}
            <input class="btn green" type="submit" value="Enviar e-mail">
        </form>
    {% endif %}
{% endblock %}
